<div class="col-md-12 zeroPading" ng-controller="revenueInfoCtrl">
    <nav class="navbar navbar-default revenueInfoNav">
        <ul class="nav navbar-nav col-md-12 zeroPading revenueInnerNav" >
          <li ng-repeat="data in revenueData"><a href="#"><div class="revenueInfoData">{{data.aspect}}<br><h3>{{data.cost}}</h3></div></a></li>
          <li><a href="#"><div class="revenueInfoData">Net Revenue<br><h3 class="netRevenue">-$2409.39</h3></div></a></li>
        </ul>
    </nav>
  </div>
