<div class="col-md-12" style="padding:0px">
    <nav class="navbar navbar-default ">
        <ul class="nav navbar-nav col-md-12 " style="padding:0px">
          <li><a href="#"><div class="revenueInfoData">ROI<br><h3 id="first">-13.42% </h3></div></a></li>
          <li><a href="#"><div class="revenueInfoData">Total Cases<br><h3>5415</h3></div></a> </li>
          <li><a href="#"><div class="revenueInfoData">Total Cost<br><h3>$484,058.89 </h3></div></a> </li>
          <li><a href="#"><div class="revenueInfoData">Total Sales<br><h3>$481,649.50</h3></div></a> </li>
          <li><a href="#"><div class="revenueInfoData">Total Cost/lb<br><h3>$2.15</h3></div></a> </li>
          <li><a href="#"><div class="revenueInfoData">Price/lb<br><h3>$2.29s</h3></div></a> </li>
          <li><a href="#"><div class="revenueInfoData">Net Revenue<br><h3 class="netRevenue">-$2409.39</h3></div></a></li>
        </ul>
    </nav>
  </div>
