<div class="col-md-5 tableDiv" style="padding:0px">
  <div class="title">
    <div class="col-md-offset-4 col-md-2 col-lg-3" style="padding:0px;"><h4><b>Total Cost</b></h4></div>
    <div class="col-md-2 col-lg-3"style="padding:0px;"><h4><b>Cost/Case</b></h4></div>
    <div class="col-md-2 col-lg-2 text-left" style="padding:0px;margin-left:-8px;"><h4><b>Price/Case</b></h4></div>
  </div>
  <div class="table table-responsive" style="padding:0px;margin-bottom:0px">
      <table>
        <tbody class="outerTable" ng-repeat="eachaspect in revenueDetails">
              <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                <td class="col-md-3"><button class="plusIcon"><i class="fa fa-plus" aria-hidden="true"></i></button> &nbsp {{eachaspect.typeOfCost}}</td>
                <td class="col-md-2">{{eachaspect.totalAmount}}</td>
                <td class="col-md-2">{{eachaspect.costPerCase}}</td>
                <td class="col-md-2">{{eachaspect.pricePerCase}}</td>
            </tr>
            <tr>
                <td colspan="12" class="hiddenRow">
                  <div class="accordian-body collapse" id="demo1">
                    <table class="table col-md-12 innerTable">
                          <tbody ng-repeat="indetailinfo in eachaspect.economicAspects">
                            <tr>
                              <td class="col-md-3" style="padding-left:20px">{{indetailinfo.section}}</td>
                              <td class="col-md-2">{{indetailinfo.totalcost}}</td>
                              <td class="col-md-2" >{{indetailinfo.cost}}</td>
                              <td class="col-md-2">{{indetailinfo.price}}</td>
                            </tr>
                          </tbody>
                    </table>

                  </div>
                 </td>
            </tr>
        </tbody>
      </table>
  </div>
</div>
